<a href="https://colab.research.google.com/github/CarolMuchoki/Data-Wrangling-Projects/blob/main/Credit_Card_Default.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('credit_card_defaulter.csv')
data.head()

   Unnamed: 0 default student      balance       income
0           1      No      No   729.526495  44361.62507
1           2      No     Yes   817.180407  12106.13470
2           3      No      No  1073.549164  31767.13895
3           4      No      No   529.250605  35704.49394
4           5      No      No   785.655883  38463.49588

# Data Exploration

In [ ]:
#no. of records
data.shape

(10000, 5)

In [ ]:
#previewing last instance of the record
data.sample()

      Unnamed: 0 default student     balance       income
3061        3062      No      No  474.379662  35980.75279

In [ ]:
#checking data types of the colum variables
data.dtypes

Unnamed: 0      int64
default        object
student        object
balance       float64
income        float64
dtype: object

# Cleaning Data

In [ ]:
data.head()

   Unnamed: 0 default student      balance       income
0           1      No      No   729.526495  44361.62507
1           2      No     Yes   817.180407  12106.13470
2           3      No      No  1073.549164  31767.13895
3           4      No      No   529.250605  35704.49394
4           5      No      No   785.655883  38463.49588

In [ ]:
#delete irrelevant column 
data.drop(["Unnamed: 0"], axis= 1, inplace= True)
data.head()

  default student      balance       income
0      No      No   729.526495  44361.62507
1      No     Yes   817.180407  12106.13470
2      No      No  1073.549164  31767.13895
3      No      No   529.250605  35704.49394
4      No      No   785.655883  38463.49588

In [ ]:
#checking for duplicates
data = data[data.duplicated()]
sum(data.duplicated())

0

In [ ]:
data_duplicates = data.drop_duplicates()
data_duplicates.shape

(0, 4)

# Sorting

In [ ]:
#sorting
data.sort_values(by= 'income', ascending= 1)

Empty DataFrame
Columns: [default, student, balance, income]
Index: []

Data Visualization

# **Data Visualization**